<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/asserts/js/jquery-1.10.2.min.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="icon" th:href="@{/asserts/img/basic/favicon.ico}" type="image/x-icon">
    <title>HRMS</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/asserts/css/app.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/dudulu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/magic-check.css}">
    <script th:src="@{/asserts/js/dudulu_user.js}"></script>
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>

<body class="light">
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <aside class="main-sidebar fixed offcanvas shadow">
        <section class="sidebar">
            <div class="w-80px mt-3 mb-3 ml-3">
                <img th:src="@{/asserts/img/basic/logo.png}" alt="">
            </div>
            <div class="relative">
                <a data-toggle="collapse" href="#userSettingsCollapse" role="button" aria-expanded="false"
                   aria-controls="userSettingsCollapse" class="btn-fab btn-fab-sm fab-right fab-top btn-primary shadow1 ">
                    <i class="icon icon-cogs"></i>
                </a>
                <div class="user-panel p-3 light mb-2">
                    <div>
                        <div class="float-left image">
                            <a th:href="@{/user/admin/index}"><img class="user_avatar" th:src="@{/asserts/img/dummy/u2.png}" alt="User Image"></a>
                        </div>
                        <div class="float-left info">
                            <h6 class="font-weight-light mt-2 mb-1">root</h6>
                            <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="collapse multi-collapse" id="userSettingsCollapse">
                        <div class="list-group mt-3 shadow">

                            <a th:href="@{/user/logout}" class="list-group-item list-group-item-action"><i
                                    class="mr-2 icon-security text-purple"></i>退出登陆</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header"><strong>企业人力资源管理系统</strong></li>
                <li class="treeview"><a th:href="@{/information/admin/list}">
                    <i class="icon icon-sailing-boat-water purple-text s-18"></i> <span>员工管理</span></a>
                </li>
                <li class="treeview"><a href="#">
                    <i class="icon icon icon-package blue-text s-18"></i>
                    <span>考勤管理</span>
                    <i class="icon icon-angle-left s-18 pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a th:href="@{/attendance/admin/list}"><i class="icon icon-circle-o"></i>考勤情况</a></li>
                        <li><a th:href="@{/leave/admin/list}"><i class="icon icon-add"></i>请假通知 </a></li>
                    </ul>
                </li>
                <li class="treeview no-b">
                    <a th:href="@{/wageinfo/admin/list}">
                        <i class="icon icon-dialpad blue-text  s-18"></i>
                        <span>工资管理</span>
                    </a>
                </li>
                <li class="treeview no-b">
                    <a th:href="@{/announcement/admin/list}">
                        <i class="icon icon-wpforms light-green-text s-18 "></i>
                        <span>公告管理</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <!--Sidebar End-->
    <div class="has-sidebar-left">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                    <div class="search-bar">
                        <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                               placeholder="start typing...">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                       aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
                </div>
            </div>
        </div>
        <div class="sticky">
            <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
                <div class="relative">
                    <a href="#" data-toggle="offcanvas" class="paper-nav-toggle pp-nav-toggle">
                        <i></i>
                    </a>
                </div>
                <!--Top Menu Start -->

            </div>
        </div>
    </div>

    <div class="page  has-sidebar-left height-full">
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon icon icon-package blue-text s-18"></i>
                            请假通知
                        </h4>
                    </div>
                </div>
            </div>



        </header>

<!--        嘟嘟噜的通知-->
        <button hidden  class="btn btn-success btn-lg toast-action"
                data-title=""
                data-message=""
                data-type="success"
                data-position-class="toast-bottom-right" id=duduluinfo>abc
        </button>

        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                    <div class="row my-3">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form" th:action="@{/leave/admin/search}"
                                  method="post">
                            <div class="zyl5-2">
                                <div class="input-group focused">
                                    <input id="dudulutime" name="dudulutime" type="text" required="required" class="date-time-picker form-control" data-options="{&quot;timepicker&quot;:false, &quot;format&quot;:&quot;Y-m-d&quot;}" th:value="${now}" width="150px">
                                    <span class="input-group-append">
                                    <span class="input-group-text add-on white">
                                        <i class="icon-calendar"></i>
                                    </span>
                                </span>
                                </div>
                            </div>
                            <div class="zyl6-2">
                                <button type="submit" class="btn btn-primary btn-sm">查&nbsp;看</button>
                            </div>
                            </form>


                            </br>
                                <label  style="width:100px" ></label>
                                <div class="card r-0 shadow">
                                    <div class="table-responsive">

                                        <table class="table table-bordered table-hover data-tables" data-options='{"searching":false}'>
                                            <thead>
                                            <tr>
                                                <th>员工编号</th>
                                                <th>姓名</th>
                                                <th>请假原因</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="info:${list_pirt}">

                                                <td>[[${info.uid}]]</td>
                                                <td th:id="'dudulutd'+${info.id}">
                                                    <script>
                                                        querynamebyid("[[${info.uid}]]","[[${info.id}]]");
                                                    </script>
                                                </td>
                                                <td>[[${info.reason}]]</td>
<!--                                                <td>[[${info.status}]]</td>-->
                                                <td>
                                                    <script>
                                                        var status="[[${info.status}]]";
                                                        if(status=="未审核")
                                                        {
                                                            document.write("<a href=\"[[@{/leave/admin/agree}]]?id=[[${info.id}]]&uid=[[${info.uid}]]&time=[[${now}]]\"><button type=\"button\" class=\"btn btn-success btn-sm\">同意</button></a>");
                                                            document.write("&nbsp;&nbsp;&nbsp;");
                                                            document.write("<a href=\"[[@{/leave/admin/refuse}]]?id=[[${info.id}]]&uid=[[${info.uid}]]&time=[[${now}]]\"><button type=\"button\" class=\"btn btn-danger btn-sm\">拒绝</button></a>");
                                                        }
                                                        else if(status=="已同意")
                                                        {
                                                            document.write("<a href=\"[[@{/leave/admin/revoke}]]?id=[[${info.id}]]&uid=[[${info.uid}]]&time=[[${now}]]\"><button type=\"button\" class=\"btn btn-warning btn-xs\">撤销 （已同意）</button></a>");
                                                        }
                                                        else
                                                        {
                                                            document.write("<a href=\"[[@{/leave/admin/revoke}]]?id=[[${info.id}]]&uid=[[${info.uid}]]&time=[[${now}]]\"><button type=\"button\" class=\"btn btn-warning btn-xs\">撤销 （已拒绝）</button></a>");
                                                        }
                                                    </script>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>



                        </div>
                    </div>

                </div>

            </div>
        </div>






</div>
<!-- Right Sidebar -->

<!-- /.right-sidebar -->
<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
<div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script th:src="@{/asserts/js/app.js}"></script>
<span th:if="${param.p1_data}">
    <script>
        $('#duduluinfo').attr("data-title","通知");
        $('#duduluinfo').attr("data-message","[[${param.p1_data}]]");
        $('#duduluinfo').attr("data-type","success");
        $('#duduluinfo').click();
    </script>
</span>
<span th:if="${param.p2_data}">
    <script>
        $('#duduluinfo').attr("data-title","通知");
        $('#duduluinfo').attr("data-message","[[${param.p2_data}]]");
        $('#duduluinfo').attr("data-type","error");
        $('#duduluinfo').click();
    </script>
</span>
<!--<script>-->
<!--    $('#duduluinfo').click();-->

<!--</script>-->
</body>
</html>