<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script th:src="@{/asserts/js/jquery-1.10.2.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="icon" th:href="@{/asserts/img/basic/favicon.ico}" type="image/x-icon">
    <title>Paper</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/asserts/css/app.css}">
    <link rel="stylesheet" th:href="@{/asserts/css/dudulu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asserts/css/magic-check.css}">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
</head>

<body class="light">
<!-- Pre loader -->
<div id="loader" class="loader">
    <div class="plane-container">
        <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <aside class="main-sidebar fixed offcanvas shadow">
        <section class="sidebar">
            <div class="w-80px mt-3 mb-3 ml-3">
                <img th:src="@{/asserts/img/basic/logo.png}" alt="">
            </div>
            <div class="relative">
                <a data-toggle="collapse" href="#userSettingsCollapse" role="button" aria-expanded="false"
                   aria-controls="userSettingsCollapse" class="btn-fab btn-fab-sm fab-right fab-top btn-primary shadow1 ">
                    <i class="icon icon-cogs"></i>
                </a>
                <div class="user-panel p-3 light mb-2">
                    <div>
                        <div class="float-left image">
                            <a th:href="@{/user/u_index}"><img class="user_avatar" th:src="@{'/'+${session.information.head}}" alt="User Image"></a>
                        </div>
                        <div class="float-left info">
                            <h6 class="font-weight-light mt-2 mb-1">
                                [[${session.information.name}]]
                            </h6>
                            <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="collapse multi-collapse" id="userSettingsCollapse">

                        <div class="list-group mt-3 shadow">

                            <a th:href="@{/user/logout}" class="list-group-item list-group-item-action"><i
                                    class="mr-2 icon-security text-purple"></i>退出登陆</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header"><strong>企业人力资源管理系统</strong></li>
                <li class="treeview no-b">
                    <a th:href="@{/user/u_profile}">
                        <i class="icon icon-account_box light-green-text s-18"></i>
                        <span>个人信息</span>
                    </a>
                </li>
                <li class="treeview no-b">
                    <a th:href="@{/attendance/u_list}">
                        <i class="icon icon icon-package blue-text s-18"></i>
                        <span>考勤</span>
                    </a>
                </li>
                <li class="treeview no-b">
                    <a th:href="@{/wageinfo/u_list}">
                        <i class="icon icon-dialpad blue-text  s-18"></i>
                        <span>工资</span>
                    </a>
                </li>
                <li class="treeview no-b">
                    <a th:href="@{/announcement/u_list}">
                        <i class="icon icon-wpforms light-green-text s-18 "></i>
                        <span>公告</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <!--Sidebar End-->
    <div class="has-sidebar-left">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                    <div class="search-bar">
                        <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                               placeholder="start typing...">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                       aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
                </div>
            </div>
        </div>
        <div class="sticky">
            <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
                <div class="relative">
                    <a href="#" data-toggle="offcanvas" class="paper-nav-toggle pp-nav-toggle">
                        <i></i>
                    </a>
                </div>
                <!--Top Menu Start -->

            </div>
        </div>
    </div>

    <div class="page  has-sidebar-left height-full">
        <header class="blue accent-3 relative">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon icon icon-package blue-text s-18"></i>
                            考勤
                        </h4>
                    </div>
                </div>
            </div>

            <div class="dudulu1">
                <a href="javascript:void(0)" data-toggle="modal" th:attr="data-target='#leave_add'"><button type="button" class="btn btn-info btn-xs">请假</button></a>
            </div>



        </header>

<!--        嘟嘟噜的通知-->
        <button hidden  class="btn btn-success btn-lg toast-action"
                data-title=""
                data-message=""
                data-type="success"
                data-position-class="toast-bottom-right" id=duduluinfo>abc

        </button>

        <div class="container-fluid animatedParent animateOnce">
            <div class="tab-content my-3" id="v-pills-tabContent">
                <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                    <div class="row my-3">
                        <div class="col-md-12">


                            </br>


                            <div class="card no-b shadow">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-hover ">
                                            <tbody>
                                            <tr class="no-b" th:each="info:${list_pirt}">

                                                <td>
                                                    <h6>[[${info.time}]]</h6>
                                                </td>
                                                <td>
                                                    <script>
                                                        var status="[[${info.status}]]";
                                                        if(status=="缺勤")
                                                        {
                                                            document.write("<span class=\"badge badge-danger\">缺勤</span>")
                                                        }
                                                        else if(status=="在勤")
                                                        {
                                                            document.write("<span class=\"badge badge-success\">在勤</span>")
                                                        }
                                                        else if(status=="签退")
                                                        {
                                                            document.write("<span class=\"badge badge-warning\">签退</span>")
                                                        }
                                                        else if(status=="请假")
                                                        {
                                                            document.write("<span class=\"badge badge-secondary\">请假</span>")
                                                        }
                                                    </script>
                                                </td>
                                                <td>
                                                    <span th:if="${info.starttime}"><i class="icon icon-data_usage"></i>签到时间：[[${info.starttime}]]</span><br>
                                                    <span th:if="${info.endtime}"><i class="icon icon-data_usage"></i>签退时间：[[${info.endtime}]]</span>
                                                </td>
                                                <td>
                                                    <script>
                                                        var time1="[[${info.time}]]";
                                                        var time2="[[${now}]]";
                                                        var status="[[${info.status}]]";
                                                        if(time1==time2)
                                                        {
                                                            if(status=="缺勤")
                                                            {
                                                                var ahref="[[@{/attendance/signin}]]";
                                                                document.write("<a href="+ahref+">");
                                                                document.write("<button type=\"button\" class=\"btn btn-success btn-xs\">签&nbsp;到</button></a>")
                                                            }
                                                            else if(status=="在勤")
                                                            {
                                                                var ahref="[[@{/attendance/signout}]]";
                                                                document.write("<a href="+ahref+">");
                                                                document.write("<button type=\"button\" class=\"btn btn-warning btn-xs\">签&nbsp;退</button></a>")
                                                            }
                                                        }
                                                    </script>
                                                </td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>


<!--    嘟嘟噜的上传文件-->
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="user_upload" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        上传头像
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form" th:action="@{/information/uploadhead}"
                          method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <div class="col-sm-10">
                                <!--隐藏域-->
                                <input type="hidden" name="id" th:value="${session.information.id}"/>
                                <input type="file" name="head"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">取消
                            </button>
                            <button type="submit" class="btn btn-success">
                                上传
                            </button>
                        </div>


                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>







</div>
<!-- Right Sidebar -->

<!-- /.right-sidebar -->
<!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
<div class="control-sidebar-bg shadow white fixed"></div>
</div>

<!--嘟嘟噜的请假-->
<!-- 模态框（Modal） -->
<div class="modal fade" id="leave_add" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    请假
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form" th:action="@{/leave/add}"
                      method="post">

                    <div class="card no-b  no-r">
                        <div class="card-body">

                            <div class="form-row">
                                <div class="col-md-8">

                                    <div class="form-group m-0">
                                        <label class="col-form-label s-12">请假原因</label>
                                        <textarea class="form-control" rows="2" name="data"></textarea>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">取消
                            </button>
                            <button type="submit" class="btn btn-success">
                                申请
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<!--/#app -->
<script th:src="@{/asserts/js/app.js}"></script>
<script th:src="@{/asserts/js/dudulu_user.js}"></script>
<span th:if="${param.p1_data}">
    <script>
        $('#duduluinfo').attr("data-title","通知");
        $('#duduluinfo').attr("data-message","[[${param.p1_data}]]");
        $('#duduluinfo').attr("data-type","success");
        $('#duduluinfo').click();
    </script>
</span>
<span th:if="${param.p2_data}">
    <script>
        $('#duduluinfo').attr("data-title","通知");
        $('#duduluinfo').attr("data-message","[[${param.p2_data}]]");
        $('#duduluinfo').attr("data-type","error");
        $('#duduluinfo').click();
    </script>
</span>
<!--<script>-->
<!--    $('#duduluinfo').click();-->

<!--</script>-->
</body>
</html>